.event-table td {
    cursor: pointer;
}

.event-table td:hover {
    background-color: #f0f0f0; /* Лёгкое затемнение при наведении */
}

.event-table th:not(:first-child) {
    writing-mode: vertical-rl; /* Вертикальное направление текста справа налево */
    transform: rotate(180deg); /* Поворот для читаемости */
    white-space: nowrap; /* Предотвращаем перенос текста */
    padding: 10px 5px; /* Уменьшаем боковые отступы */
    text-align: center; /* Центрируем текст */
}

.event-table tr:last-child td {
    font-weight: bold; /* Выделяем строку "Сумма баллов" */
}